.container{
    display: flex;
    gap: 10px;
    border: 1px solid #eee;
}
.box{
    width:  140px;
    height: 140px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.2rem;
}

/*transision*/
.transition{
    /*property : 적용대상 
    duration:지속시간
    timing-funtion : 변화속도(linear 은 일정하게)*/
    transition: all 3s linear;

}
.transition:hover{
    background: #ffa114;
    cursor: pointer;
}
/*tansform
    요소를 확대 회전 이동 기울이기 가능*/
.scale
{
    background-color: indianred;
}
.scale:hover{
    transform: scale(2);

}
.rotate{
    background-color: indigo;
}
.rotate:hover{
    transform: rotate(30deg); /*회전*/
}
.translate{
    background-color: cadetblue;
}
.translate:hover{ 
    transform: translate(20px, 50px); 
}
.skew:hover{
    transform: skew(10deg, -10deg);
}
/*animation-@keyframes로 여러 단계를 지정*/
@keyframes bounce { 
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);

    }
    100%{
        transform: translateY(0);

    }
}
.ani-once{
    animation: bounce 2s linear 2 
}
.ani-loop{
    animation: bounce 2s linear infinite;
}
.ani-pause{
    background-color: salmon;
    animation: bounce 2s linear infinite;
}
.ani-pause:hover{
    animation-play-state: paused;
}
/*perspective 값이 작을수록 더욱 입체적으로*/
.perspective{
    perspective: 200px;
}
.p-3d{
    background: seagreen;
    transform-style: preserve-3d;
    transition: transform 2s;
}
.p-3d:hover{
    transform: rotateY(180deg);
}