.box{
    background-color: azure;
    border: 1px solid;
    margin-bottom: 10px;
}
/*width : 너비(가로), height: 높이(세로)*/
.w-fixed{
    width: 50%;
    height: 100px; /*부모의 값이 있어야 % 계산이 가능*/
}

/*padding*/
.pad-all{
    padding: 20px;
}
.pad-parts{
    padding-top: 10px;
    /*값이 4개일 때, 시계방향으로 값이 들어감*/
    padding: 30px 20px 40px 10px;
    /*값이 3개일 때, 위-좌우-아래 순으로*/
    padding: 30px 20px 40px;
     /*값이 2개일 때, 위아래-좌우 순으로*/
    padding: 30px 20px;
}

/*margin*/
.mar-all{
    /*margin도 마찬가지로 padding 처럼 top, right, bottom left 존재
    margin 값 개수에 따라 방향 4개 조절도 동일*/
    margin: 24px;
}
.mar-auto{
    width: 300px;
    margin: auto;
}
.bd-solid{
    width: 90px;
    height: 90px;
    border: 3px solid red;
}
.bd-round{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 3px dashed green;
    /*dached : 점선*/
    
}.bd-circle{
    width: 90px;
    height: 90px;
    border: 3px dotted blue;
    /*dotted : 점*/
    border-radius: 50%; /*사각형->원*/

}
/*box-sizing*/
.bs-content,
.bs-border{
    width: 200px;
    height: 80px;
    padding: 20px;
    border: 5px solid aqua;
}
.bs-content{ /*기본값 - width : 내용만-> 실제길이 200+20*2+5*2=250*/
    box-sizing: content-box;

}
.bs-border{
    /*width : 테두리까지 -> 실제길이 200*/
    box-sizing: border-box;
}

/*dispaly*/
.d-span{
    display: block;
}
.d-div{
    /*inline-width/height 안됨, 
    inline-block 가능하나 요즘은 사용 안함(뒤에 나올 flex를 사용)*/
    display: inline;
    width: 100px;
    height: 100px;
}

/*position*/
.pos-outer{
    height: 250px;
    border: 1px solid;
    background: #f6f6f6;
}
.pos-box{
    width: 100px;
    height: 60px;
    color: #fff;
    }
.relative{
    background-color: navy;
    position: relative;
    top: 10px;
    left: 10px;
}