.title{
  font-family: "Single Day", cursive;
  font-weight: 600;
  font-style: normal; font-size: 35px; text-align: center;
}
.date{text-align: center; color: gray; font-size: 15px;}
.week{  font-family: "Single Day", cursive;
  font-weight: 600;
  font-style: normal; color: green;}
  .ps{font-size: 13px; color: gray;}
  .wed{font-family: "Single Day", cursive;
  font-weight: 600;
  font-style: normal; color: black;}
  .meal{font-weight: bold;}
  .f{text-align: center; color: gray;}
  .m{color: green;}